.just-fade{
	visibility: hidden;
}

@keyframes fadeIn {
	from{
	 visibility: hidden;
     opacity: 0;
	}
	1%{
		visibility: hidden;
    	opacity: 0;
	}
	to{
		visibility: visible;
     	opacity: 1;
	}
}
.fadeIn{
	animation: fadeIn 200ms ease-in-out forwards;
}
@keyframes fadeOut {
	from{
		visibility: visible;
    	opacity: 1;
	}
	99%{
		visibility: visible;
		opacity: 0;
	}
	to{
		visibility: hidden;
        opacity: 0;
	}
}
.fadeOut{
	animation: fadeOut 200ms ease-in-out forwards;
}