@use 'variables' as *;
@use 'mixins' as *;


.gallery{
    display: flex;
    flex-wrap: wrap;

    @include breakpoints-up(medium){
        flex-wrap:nowrap;
    }
}
    .gallery picture > * {
    width: 100%;
    height: 100%;
}

.gallery picture {
    width: 50%;
}
