@use 'variables' as *;
@use 'animations' as *;
@use 'mixins' as *;




.header{


    position: relative;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 548px;
    width: 100%;

    @include breakpoints-up(large){
      min-height: 690px;
    }

    &-logo img{
      height: 30px;
    }
    nav{
      position: relative;
      padding-top: 40px;

        @include breakpoints-up(medium){
        margin-bottom: 130px;
      }
    }


   &.open{
      .header-toggle{
         > span:first-child{
                transform: rotate(45deg);

              } span:nth-child(2){
                opacity: 0;

              } span:last-child{
                transform: rotate(-45deg);

              }
            } 
       }
    // MOBILE DESIGN 
     .overlay{
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient($darkBlue, transparent);


        &.fadeIn{
          display: block;
        }

        &.fadeOut{
          display: none;
        }
      }

      // HAMBURGER MENU - MOBILE TOGGLE
     &-toggle{
          > span{
               display: block;
               width: 26px;
               height: 2px;
               background-color: $white;
               transition: all 300ms ease-in-out;
               transform-origin: 3px 1px;

               &:not(:last-child){
                    margin-bottom: 5px;
               }
          }
      }

         // HAMBURGER MENU - MOBILE MENU
      &_menu{
          position: absolute;
          z-index: 1;
          width: calc(100% - 58px);
          left: 50%;
          transform: translateX(-50%);  
          background: $white;
          margin-top: 24px;
          padding: 26px 96px;



          &::before{
            content: '';
            position: absolute;
            top: 1px;
            right: 0;
            width: 0;
            height: 0;
            border: 18px solid transparent;
            border-bottom-color: white;
            border-top: 0;
            border-right: 0;
            margin-left: -9px;
            margin-top: -18px;
          }

          a{
            display: block;
            color: $grayishBlue;
            padding:10px;
            text-align: center;
          }

          .button{
            width: 140px;
            margin: 17px auto;
            background-color: #FAD400;
            padding: 14px 15px;
            color: #23303E;
            font-family: "Fraunces", serif;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 50px;
            border: none;
            transition: opacity 0.3s ease-in-out;

            &:hover{
              // background-color: $yellow;
              // color: $white;
            }
          }
      }

      &_links{

         a{ 
            position: relative;
            font-size: 1rem;
            margin-right: 48px;
            color: $white;

            &:hover{
              color: $yellow;
            }
          }
         }
      }



 