// ### Primary

 $softRed: #FE7867;
 $yellow: #FAD400;
 $darkDesaturatedCyan :#25564B;
 // (graphic design text): hsl(167, 40%, 24%)
 $darkBlue: #19536B;
 // (photography text): hsl(198, 62%, 26%)
$darkModerateCyan: #458C7E;
 // (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)

$veryDarkBlue :#23303E;
$veryGrayishBlue :#5A636C;
$darkGrayish :#818498;
$grayishBlue:#A7ABAE;
$white:#FFFFFF;